/* ESTILOS GENÉRICOS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


/* Variables y carga de fuentes */

/* Fuentes */
@font-face {
  font-family: "fuente_oswald";
  src: url("../fonts/Oswald/static/Oswald-SemiBold.ttf");
}
@font-face {
  font-family: "fuente_spline";
  src: url("../fonts/Spline_Sans/static/SplineSans-Regular.ttf");
}
@font-face {
  font-family: "fuente_roboto";
  src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

/* Variables en la raiz */
:root{
  --color0: white;
  --color1: rgb(10, 10, 10);
  --color2: rgb(126, 125, 125);
  --color3: rgb(126, 26, 2);
  --fuente1: "fuente_oswald";
  --fuente2: "fuente_spline";
  --fuente3: "fuente_roboto";

  font-family: var(--fuente3);
}

p{
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.boton{
  padding: .5rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color1);
  color: var(--color1);
  font-weight: 100;
  letter-spacing: 3px;
  cursor: pointer;
}
.boton:hover{
  background-color: var(--color2);
  border-color: var(--color0);
  color: var(--color0);
  transition: 0.5s;
}
.boton:active{
  transform: scale(0.9);
  transition: 0.1s;
}

/* Estilos de la web */

/* Empiezan los estilos del nav */
nav, main, header, footer{
  width: 100%;
  max-width: 2560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--color0);
}

nav .sup{
  width: 100%;
  height: 5vh;
  max-height: 40px;
 

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav .inf{
  width: 100%;
  height: 5vh;
  max-height: 40px;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .sup img{
  height: 70px;
  object-fit: cover;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}
nav .inf ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  list-style: none;
}
nav .inf a{
  text-decoration: none;  
}
nav .inf a:visited{
  color: black;
}
nav .inf a:hover{
  color: purple;
  font-weight: bold;
}
h1{
  font-family: "fuente_oswald";
  color: var(--color1);
  font-size: 1.4rem;
  /* font-family: var(--fuente1); */
}
  
h2{
  font-size: 1.8rem;
  color: var(--color2);
  font-weight: 100;  
}
h3{
  font-size: 2rem;
  color: var(--color1);
  font-weight: 100;

}
h4{
  font: 1.2rem;
  font-family: var(--fuente2);
  color: var(--color2);
  font-weight: 100;
  letter-spacing: 3px;
}

/* Terminan los estilos del nav */



/* Empiezan los estilos del header */

header{
  height: 90vw;
  background-image: url("../img/header_2560.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedor{
  user-select: none;
  color: var(--color0);
  font-family: var(--fuente1);
}

header .contenedor :nth-child(1){
  font-size: 5vw;
  line-height: 5vw;
}
header .contenedor :nth-child(2){
  font-size: 3.3vw;
  line-height: 4vw;
}
header .contenedor :nth-child(3){
  font-size: 8vw;
  line-height: 6vw;
}
header .contenedor :nth-child(4){
  font-size: 2.65vw;
  line-height: 5vw;
}
header .contenedor :nth-child(5){
  font-size: 5.3vw;
  line-height: 3.2vw;
}
header .contenedor :nth-child(6){
  font-size: 4vw;
  line-height: 6vw;
}
header .contenedor :nth-child(7){
  font-size: 10.7vw;
  line-height: 7vw;
}
header .contenedor :nth-child(8){
  font-size: 1vw;
  line-height: 5vw;
}



/* Terminan los espacios del header */


/* Empiezan los estilos del main */

/* Estilos seccion presentación */
#sectpresentacion{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}
#sectpresentacion article{
  max-width: 1200px;
  width: 95%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
}

#contenedor_servicios{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
#contenedor_servicios .servicio{
  width: 100%;
  max-width: 550px;
  min-width: 320px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1rem;
}
#contenedor_servicios .servicio .contendor_foto{
  width: 100%;
  height: 80%;
  overflow: hidden;
}
#contenedor_servicios .servicio .contendor_foto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: saturate(0);
  transition: 2s;
}
#contenedor_servicios .servicio .contendor_foto img:hover{
  filter: saturate(1);
  cursor: pointer;
  transform: scale(1.2);
}
