/* ESTILOS GENÉRICOS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


/* Variables y carga de fuentes */

/* Fuentes */
@font-face {
  font-family: "fuente_oswald";
  src: url("../fonts/Oswald/static/Oswald-SemiBold.ttf");
}
@font-face {
  font-family: "fuente_spline";
  src: url("../fonts/Spline_Sans/static/SplineSans-Regular.ttf");
}
@font-face {
  font-family: "fuente_roboto";
  src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

/* Variables en la raiz */
:root{
  --color0: white;
  --color1: rgb(10, 10, 10);
  --color2: #7e7d7d;
  --color3: #7e1a02;
  --fuente1: "fuente_oswald";
  --fuente2: "fuente_spline";
  --fuente3: "fuente_roboto";

  font-family: var(--fuente3);
}



h1{
  font-family: "fuente_oswald";
  color: var(--color1);
  font-size: 1.4rem;
  /* font-family: var(--fuente1); */
}
  
h2{
  font-size: 1.8rem;
  color: var(--color2);
  font-weight: 100;  
  margin-top: 4rem;
}
@media only screen and (max-width:540px){
  h2{
    padding: 0 1rem;
    margin-top: 3rem;
  }
}
h3{
  font-size: 2rem;
  color: var(--color1);
  font-weight: 100;
  font-family: var(--fuente2);
  width: 100%;
  text-align: left; /* Justifica a la izquierda todos los h3 */
}
@media only screen and (max-width:540px){
  h3{
    font-size: 1.5rem;
  }
}
h4{
  font: 1.2rem;
  font-family: var(--fuente2);
  color: var(--color2);
  font-weight: 100;
  letter-spacing: 3px;
}

p{
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

@media only screen and (max-width:540px){
  p{
    padding: 0 1rem;
  }
}

.boton{
  padding: .5rem 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color1);
  color: var(--color1);
  font-weight: 100;
  letter-spacing: 3px;
  cursor: pointer;
  font-size: 1.2rem;
}
@media only screen and (max-width:540px){
  .boton{
    background-color: var(--color3);
    font-size: 1rem;
  }
}

.boton:hover{
  background-color: var(--color2);
  border-color: var(--color0);
  color: var(--color0);
  transition: 0.5s;
}
.boton:active{
  transform: scale(0.9);
  transition: 0.1s;
}

/* Estilos de la web */

/* para que no aparezca el menú hamburguesa en vista desktop */
#toggle, .contedor_span{
  display: none;
}


/* Empiezan los estilos del nav */
nav, main, header{
  width: 100%;
  max-width: 2560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--color0);
}

nav{
  position: fixed;
  z-index: 100;
}

nav .sup{
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav .inf{
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
nav .sup img{
  height: 70px;
  object-fit: cover;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}
nav .inf ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  list-style: none;
}
nav .inf a{
  text-decoration: none;
  transition: .5s;  
}
nav .inf a:visited{
  color: var(--color2);
 }
nav .inf a:hover{
  color: rgb(206, 9, 206);
  font-weight: bold;
  transition: .5s;
}

/* Media query del nav */
@media only screen and (max-width:540px){
  .contenedor_span{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2000;
    width: 30px;
    height: 30px;
    display: flex;
    flex-flow: row wrap; /* Como poner flex direction y flex wrap */
    align-items: center;
    cursor: pointer;
  }
  .contenedor_span span{
    width: 100%;
    height: 3px;
    background-color: var(--color1);
    transition: all 25ms ease-out;/* un cuarto de segundo con una desaceleración */
    transform-origin: 0 0;
  }
  nav .sup{
    height: 10vh;
  }
  nav .inf{
    position: relative;
    background-color: var(--color0);
    height: 90vh;
    width: 100%;
    align-items: flex-start;
    padding-top: 2rem;
    left: 100%;/* Esto lo ouclta a la derecha */
  }
  nav .inf ul{
    flex-direction: column;
    row-gap: 3rem;
    align-items: flex-start;
    border-left: 2px solid var(--color2);
    padding-left: 1rem;
  }
  nav .inf ul li a{
    font-size: 2rem;
  }
  #toggle:checked ~ .contenedor_span span:nth-last-child(1){/* Hace referencia al elemento que tiene acontinuacion del toggle, por eso lo ponemos justo encima del nav */
    transform: rotate(-45deg) translate(1px, 0px);
  }
  #toggle:checked ~ .contenedor_span span:nth-last-child(2){
    transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
  }
  #toggle:checked ~ .contenedor_span span:nth-last-child(3){
    transform: rotate(45deg) translate(0px, -1px);
  }
  #toggle:checked ~ nav .inf{
    left: 0%;
  }
}

.contenedor{
  user-select: none;
  color: var(--color0);
  font-family: var(--fuente1);
}

/* Estilos del Header */

header{
  transform: translateY(80px);
  height: 90vh;
  background-image: url("../img/header_2560.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
 
}

header .contenedor{
  /* background-color: aquamarine; */
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2px;
  font-family: var(--fuente1);
  user-select: none;
  color: var(--color0);

}

header .contenedor :nth-child(1){
  font-size: 5vw;
  line-height: 5vw;
}
header .contenedor :nth-child(2){
  font-size: 3.3vw;
  line-height: 4vw;
}
header .contenedor :nth-child(3){
  font-size: 8vw;
  line-height: 6vw;
}
header .contenedor :nth-child(4){
  font-size: 2.65vw;
  line-height: 5vw;
}
header .contenedor :nth-child(5){
  font-size: 5.3vw;
  line-height: 3.2vw;
}
header .contenedor :nth-child(6){
  font-size: 4vw;
  line-height: 6vw;
}
header .contenedor :nth-child(7){
  font-size: 10.7vw;
  line-height: 7vw;
}
header .contenedor :nth-child(8){
  font-size: 1vw;
  line-height: 5vw;
}



#contenedor_servicios{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
#contenedor_servicios .servicio{
  width: 100%;
  max-width: 550px;
  min-width: 320px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1rem;
}
#contenedor_servicios .servicio .contendor_foto{
  width: 100%;
  height: 80%;
  overflow: hidden;
}
#contenedor_servicios .servicio .contendor_foto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: saturate(0);
  transition: 2s;
}
#contenedor_servicios .servicio .contendor_foto img:hover{
  filter: saturate(1);
  cursor: pointer;
  transform: scale(1.2);
}

section, article{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: flex-start;
}
section{
  margin-top: 2rem;
}
article{
  margin-top: 1rem;
  row-gap: 1rem;
}
.anchoEstrecho{
  max-width: 1200px;
  width: 95%;
}

/* SLIDER */
#slider{
  width: 100%;
  max-width: 2560px;
  height: 90vh;
  position: relative;
}
#slider :nth-child(1), #slider :nth-child(2){
  width: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
  cursor: pointer;    
}
#slider :nth-child(1){
  left: 2rem;
}
#slider :nth-child(2){
  right: 2rem;
}
#slider :nth-child(3){
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width:540px){
  #slider :nth-child(1), #slider :nth-child(2){
   width: 90px; 
  }
  #slider :nth-child(1){
    left: 1rem;
  }
  #slider :nth-child(2){
    right: 1rem;
  }
}

#fotoActiva{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contenedorEquipo{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 2rem;
  flex-wrap: wrap;
}
.persona{
  width: 90%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1rem;
}
.persona .imagen{
  width: 100%;
  position: relative;
  height: 350px;
  min-width: 350px;
}

.persona .imagen :nth-child(1){
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: 1s;
}
.persona .imagen :nth-child(2){
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(.7);
  border-radius: 50%;
  filter:sepia(1) opacity(.3);
  transition: 1s;
}
/* .persona .imagen :nth-child(1):hover{
  transform: rotate(20deg);
  transition: 1s;
} */
.persona .imagen :nth-child(2):hover{
  filter: sepia(1) opacity(.7);
  transition: 1s;
}

/* estilos footer */
footer{
  width: 100%;
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color:var(--color0);
  font-family: var(--fuente3);
  padding: 4rem 0;
  row-gap: 2rem;
}

#contenedor_form{
  width: 100%;
  max-width: 2560px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
}
footer #contenedor_form form{
  width: 40%;
  min-width: 320px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 1rem;
  
}

footer #contenedor_form img{
  width: 40%;
  min-width: 320px;
  max-width: 800px;
  height: 500px;
  object-fit: cover;
}

footer #contenedor_form input, textarea{
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-family: var(--fuente2);
}

#contenedor_form textarea{
  height: 100px;
  max-height: 300px;
  min-height: 100px;
  width: 100%;
  max-width: 100%;
}

footer form h2{
  color: var(--color0);
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
footer form input, textarea{
  width: 100%;
}
#boton_enviar{
  width: 30%;
  min-width: 160px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

#contenedor_footer{
  width: 100%;
  max-width: 2560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
}
#imagen_footer{
  width: 150px;
}

#contenedor_footer >:nth-child(2){
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
#contenedor_footer >:nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1rem;
}
#contenedor_footer .info_footer{
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2rem;
}

#contenedor_footer .info_footer ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}


#contenedor_footer .info_footer a{
  color: var(--color0);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
}
#contenedor_footer .info_footer ul img{
  width: 1.3rem;
  filter: invert(1);
}
#contenedor_footer .info_footer a:hover{
  filter: invert(0);
  filter: invert(21%) sepia(22%) saturate(2155%) hue-rotate(324deg) brightness(97%) contrast(84%);
  transition: 1;
}

#contenedor_rrss{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 4.5rem;

}
#contenedor_rrss img{
  width: 2.5rem;
}

.lista_horizonal{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
}


